@media screen and ( max-width :768px) { 
    header .container{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

}

}
@media screen and ( max-width :425px) {
    .botao{
        margin-top: 10px; 
        width: 190px;
    }
    
}

@media screen and ( max-width :375px) {
    .botao{
        margin-right: 1px; 
        width: 137px;
    }

